<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nya.fgopedia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailCeActivity"></activity>
        <activity android:name=".ui.servant.DetailActivity" />
        <activity
            android:name=".ui.bottomNavigasi.NavActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.intro_slider.IntroSliderActivity" />
        <activity
            android:name=".ui.splashScreen.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>